@import url("https://fonts.googleapis.com/css2?family=Anton+SC&family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playwrite+FR+Trad:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Grandiflora+One&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Rubik+Glitch&family=Tenor+Sans&display=swap");
.playwrite-fr-trad-regular {
  font-family: "Playwrite FR Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.playwrite-fr-trad-light {
  font-family: "Playwrite FR Trad", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.arsenal-sc-regular {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.arsenal-sc-bold {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.arsenal-sc-regular-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.arsenal-sc-bold-italic {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.anton-sc-regular {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bodoni-moda-sc-bold {
  font-family: "Bodoni Moda SC", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.grandiflora-one-regular {
  font-family: "Grandiflora One", cursive;
  font-weight: 400;
  font-style: normal;
}
.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.rubik-glitch-regular {
  font-family: "Rubik Glitch", system-ui;
  font-weight: 400;
  font-style: normal;
}
.tenor-sans-regular {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-slab-regular {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
